In [15]:
df1 <- c(5,6,3,2,2,4,1)
df2 <- c(2,4,3,2,5,6,3)
df3 <-c(7,1,5,2,2,6,3)
df4 <-c(6,2,3,2,5,1,5)
df5 <-c(2,4,1,5,2,6,3) 
df6<-c(2,2,4,2,2,2,2)
dice <- data.frame(df1,df2,df3,df4,df5,df6) 
rownames(dice) <- (c('dice1','dice2','dice3','dice4','dice5','dice6','dice7'))
colnames(dice) <- (c('1','2','3','4','5','6'))
dice

      1 2 3 4 5 6
dice1 5 2 7 6 2 2
dice2 6 4 1 2 4 2
dice3 3 3 5 3 1 4
dice4 2 2 2 2 5 2
dice5 2 5 2 5 2 2
dice6 4 6 6 1 6 2
dice7 1 3 3 5 3 2

In [16]:
dice1<-dice[c(3,4),c(1,3,5)]
dice1

      1 3 5
dice3 3 5 1
dice4 2 2 5

In [17]:
dice$total <- with(dice, (df1+df2+df3+df4+df5+df6))
dice

      1 2 3 4 5 6 total
dice1 5 2 7 6 2 2 24
dice2 6 4 1 2 4 2 19
dice3 3 3 5 3 1 4 19
dice4 2 2 2 2 5 2 15
dice5 2 5 2 5 2 2 18
dice6 4 6 6 1 6 2 25
dice7 1 3 3 5 3 2 17